<h1>All Mechanics</h1>
<% @mechanics.each do |mechanic| %>
	<section id="mechanic-<%= mechanic.id %>">
		<p>Name: <%= mechanic.name %></p>
		<p>Years: <%= mechanic.experience %></p>
	</section>

<% end %>